<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.acomma.duck.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="me.acomma.duck.model.entity.MenuEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="menu_id" jdbcType="BIGINT" property="menuId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `create_time`, `update_time`, `menu_id`, `parent_id`, `name`, `path`
    </sql>

    <insert id="insert">
        INSERT INTO `menu`(`menu_id`, `parent_id`, `name`, `path`)
        VALUES (#{menuId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByMenuId">
        DELETE FROM `menu`
        WHERE `menu_id` = #{menuId,jdbcType=BIGINT}
    </delete>

    <update id="updateByMenuId">
        UPDATE `menu`
        SET `parent_id` = #{parentId,jdbcType=BIGINT},
            `name` = #{name,jdbcType=VARCHAR},
            `path` = #{path,jdbcType=VARCHAR}
        WHERE `menu_id` = #{menuId,jdbcType=BIGINT}
    </update>

    <select id="findByMenuId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `menu`
        WHERE `menu_id` = #{menuId,jdbcType=BIGINT}
    </select>

    <select id="findByParentIdAndName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `menu`
        WHERE `parent_id` = #{parentId,jdbcType=BIGINT}
            AND `name` = #{name,jdbcType=VARCHAR}
    </select>

    <select id="listByMenuIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `menu`
        WHERE `menu_id` IN (<foreach collection="menuIds" item="menuId" separator=",">#{menuId,jdbcType=BIGINT}</foreach>)
    </select>
</mapper>
