<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.acomma.duck.mapper.RoleMenuMapper">
    <resultMap id="BaseResultMap" type="me.acomma.duck.model.entity.RoleMenuEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="menu_id" jdbcType="BIGINT" property="menuId"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `create_time`, `update_time`, `role_id`, `menu_id`
    </sql>

    <insert id="insertByRoleIdAndMenuIds">
        INSERT INTO `role_menu`(`role_id`, `menu_id`)
        VALUES <foreach collection="menuIds" item="menuId" separator=",">(#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT})</foreach>
    </insert>

    <delete id="removeByRoleIdAndMenuIds">
        DELETE FROM `role_menu`
        WHERE `role_id` = #{roleId,jdbcType=BIGINT}
            AND `menu_id` IN (<foreach collection="menuIds" item="menuId" separator=",">#{menuId,jdbcType=BIGINT}</foreach>)
    </delete>

    <select id="listByRoleId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `role_menu`
        WHERE `role_id` = #{roleId,jdbcType=BIGINT}
    </select>
</mapper>
