<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.acomma.duck.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="me.acomma.duck.model.entity.UserEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `create_time`, `update_time`, `user_id`, `username`, `password`
    </sql>

    <insert id="insert">
        INSERT INTO `user`(`user_id`, `username`, `password`)
        VALUES (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByUserId">
        DELETE FROM `user`
        WHERE `user_id` = #{userId,jdbcType=BIGINT}
    </delete>

    <update id="updatePasswordByUserId">
        UPDATE `user`
        SET `password` = #{password,jdbcType=VARCHAR}
        WHERE `user_id` = #{userId,jdbcType=BIGINT}
    </update>

    <select id="findByUserId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `user`
        WHERE `user_id` = #{userId,jdbcType=BIGINT}
    </select>

    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `user`
        WHERE `username` = #{username,jdbcType=VARCHAR}
    </select>
</mapper>
